:root {
    --font-label: 'Roboto Mono', 'sans_serif';
}

#center {
    padding: 30px 60px; 
}

#center h1 {
    margin: 5px 0px;
}

p {
    font-size: 0.7rem;
    text-align: center;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-size: 0.7rem;
    font-family: var(--font-label);
}

.input_field {
    color: rgba(91, 91, 91, 0.5);
    border-radius: 8px;

    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

@media(max-width: 600px) {
    #center.signup {
        padding: 15px 5px; 
    }

    #center.signup h1 {
        font-size: 1.3rem;
        margin: 5px 0px;
    }

     
    form.signup {
        width: 90%;
        font-size: 0.5rem;
    }

    form.signup .input_field {
        width: 50%;
    }
}

.fullBlack {
    color: var(--text-color);
}

.errore {
    color: red;
}



form div {
    display: flex;
    justify-content: center;
}

.signup div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.signup .input_field {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.access_div {
    justify-content: center;
}

.access {
    font-size: 1rem;
    font-family: var(--font);
    color: var(--background);
    background-color: rgba(255, 133, 72, 0.0);
    border: 2px solid var(--background);
    border-radius: 40px;

    margin-top: 20px;
    padding: 10px 20px;
}

.access:hover {
    color: var(--logo-color);
    background-color: var(--background);
}

.hidden {
    display: none;
}


/* Utilizzato nella sezione modifica */
#go_back {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;

    margin-right: 10px;

    background-color: var(--logo-color);
    border-radius: 25px;
}

#go_back img {
    height: 40px;
    width: 40px;
}

#mod_form .input_field {
    color: var(--text-color);
}